extends ../layouts/default

block content
	.container: .jumbotron.text-left
		div(style='padding: 1em')
			.row
				.col-xs-12.col-md-3.col-sm-3
					img(src='http://res.cloudinary.com/dmxm0i4m2/image/upload/v1492355125/profile_bhmmn6.jpg').img-responsive.img-circle
				.col-xs-12.col-md-9.col-sm-9
					h1 <span style='color: red'>{</span>Kellerman Mota<span style='color: red'>}</span>
					h2 Desenvolvedor web
			hr
			p.
				Sou desenvolvedor web, graduado em Análise e Desenvolvimento de Sistemas pela  <a href='http://www.senaigo.com.br/senai/site/Faculdade.do?vo.codigo=11' target='_blank'>FATESG</a>. 
				Possuo 10 anos de experiência na área de TI, sendo 5 anos dedicados ao desenvolvimento de software.
				Minhas principais habilidades envolvem conhecimentos em: HTML, Javascript, CSS e Java.
