extends ../layouts/default

block content
	.container: .jumbotron
		div(class='row')
			div(class='col-md-3') 
				img(src='http://res.cloudinary.com/dmxm0i4m2/image/upload/v1492355125/profile_bhmmn6.jpg', width='160', style='border-radius: 100%', class='img-responsive')
			div(class='col-md-9') 
				h1 {Kellerman Mota}
				h2 Desenvolvedor web
		hr
		p Sou desenvolvedor web, graduado em Análise e Desenvolvimento de Sistemas pela  <a href='http://www.senaigo.com.br/senai/site/Faculdade.do?vo.codigo=11' target='_blank'>FATESG</a>. 
		p Possuo 10 anos de experiência na área de TI, sendo 5 anos dedicados ao desenvolvimento de software.
		p Minhas principais habilidades envolvem conhecimentos em: HTML, Javascript, CSS e Java.
