extends ../layouts/default

block content
	.container
		if portifolios.length
			ul.list-inline
				each port in portifolios
					li
						a(href='portifolio')
							div(style='padding: 1em')
								h3=port.title
								img(src=port._.heroImage.limit(400,400)).img-rounded.img-responsive
							
							
